*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

html{
    height: 100%;
    background: linear-gradient(to right, #fc466b, #3f5efb); 
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* border: solid 1px #fc466b; */
    width: 400px;
    background-color: rgba(255, 255, 255, .4);
    padding: 80px 50px;
    text-align: center;
    color: #fff;
}

h1{
    font-weight: normal;
}

form{
    margin-top: 50px;
}

input{
    display: inline-block;
    outline: none;
    margin-bottom: 25px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

input[type=text],input[type=password]{
    background-color: rgba(255, 255, 255, .3);
}

::placeholder{
    color: #fff;
    opacity: 1;
    
}

input[type=submit]{
    background-color: #fc466b;
    color: #fff;
    cursor: pointer;
}

input[type=submit]:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.imgs{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;   
    padding: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
}

footer a{
    font-weight: bold;
    padding-top: 20px;
}


@media only screen and (max-width: 600px) {
    .flex-container{
        width: 90%;
        margin: auto;
    }
  }